@import 'styles/globals';
@import '@material/textfield/mdc-text-field';

// TODO: update
.text-area {
  border: none;

  &:focus-within {
    box-shadow: 0 0px 8px #a7a7a7;
  }

  textarea {
    padding: 10px !important;

    &:focus {
      border: none;
    }

    &.no-resize {
      resize: none;
    }
  }
}

.mdc-text-field__input {
  &.no-padding {
    padding: 0 !important
  }
}

.actions.hidden {
  display: none;
}
