@import 'styles/globals';
@import '@material/textfield/mdc-text-field';

.in-title {
  margin: 0;
  width: 97%;

  .mdc-text-field__input {
    color: white !important;
    caret-color: white !important;
    border-bottom: none;
    padding: 0 0 0 10px;

    // TODO: update placeholder color
  }
}