
.doable {
  transition: 0.2s;
  height: inherit !important;
  min-height: 48px;

  &.selected {
    box-shadow: 0 3px 6px #a7a7a7;
  }

  &.has-doables {
    font-weight: bolder;
  }

  .mdc-text-field {
    border-bottom: solid 1px rgba(0, 0, 0, 0.42) !important;
  }
}
